django>=5.2
pillow
python-decouple
google-genai
sentence-transformers
rank-bm25
openai
scikit-learn
pdfplumber
pandas
numpy
anthropic
pyarrow
joblib
scipy
langgraph==0.2.28
# Google OAuth
django-allauth
# Production server & database
gunicorn
psycopg2-binary
whitenoise
dj-database-url
